<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/nav.ejs') %>

<div class="not-found content">
    OOOOPS!, page not found :(
</div>

<%- include('./partials/footer.ejs') %>

<script src=""></script>
</body>
</html>